@import "bootstrap";

html, body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: #CCCCCC;
}

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  background-image: asset_url('jumbo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

#sticky-footer {
  flex-shrink: 0;
}