@import "bootstrap";

html, body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: #CCCCCC;
}

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  background-image: asset_url('jumbo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

#sticky-footer {
  flex-shrink: 0;
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;

  a, span, em {
    padding: 0.5rem 0.75rem;
  }

  .disabled {
    color: #aaaaaa;
    border: 2px solid #dddddd;
    border-radius: 0.25rem;
  }

  a, .current {
    cursor: pointer;
    border: 2px solid #dddddd;
    color: #0063dc;
    text-decoration: none;
    transition: all 0.2s ease;
    border-radius: 0.25rem;

    &:hover, &:focus, &.current {
      background: #dddddd;
      color: white;
    }
  }

  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }

  .previous_page, .next_page {
    border-width: 2px;
  }

  .previous_page {
    margin-right: 1em;
  }

  .next_page {
    margin-left: 1em;
  }
}


